{% extends "base.html" %}

{% block content %}

    <style>
        @media screen and (max-width: 640px) {

            .tmail {
                display: none;
            }
        }
    </style>
    <div class="container mx-auto p-4">
        <header class="flex justify-between items-center py-4">
            <h1 class="text-3xl font-bold">Dashboard</h1>
            <div class="text-right">
                <p class="text-lg"><span class="font-semibold">{{admin.username}}</span></p>
                <p class="text-sm">{{admin.email}}</p>
            </div>
        </header>

        <main class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <section class="bg-gray-800 p-4 rounded-lg shadow-md">
                <h2 class="text-xl font-semibold mb-2">Tickets Sold</h2>
                <p class="text-4xl font-bold">{{event.total_tickets()}}</p>
            </section>

            <section class="bg-gray-800 p-4 rounded-lg shadow-md content-center">
                <h2 class="text-xl font-semibold mb-2">Event Date</h2>
                <input class="text-lg outline-none bg-gray-800 text-white rounded-lg" id="event-date" value="{{event.date()}}">
                <button class="mt-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" id="date_btn">Update Event Date</button>
            </section>
            
            <section class="bg-gray-800 p-4 rounded-lg shadow-md content-center">
                <h2 class="text-xl font-semibold mb-2">Create Tickets</h2>
                <!-- <p class="text-lg" contenteditable="" >{{event.date}}</p> -->
                <button class="mt-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="window.open('/generate', '_blank')">Create</button>
            </section>


            <section class="bg-gray-800 p-4 rounded-lg shadow-md col-span-1 md:col-span-2 lg:col-span-3">
                <h2 class="text-xl font-semibold mb-2">Tickets</h2>
                <table class="min-w-full bg-gray-700 rounded-lg overflow-x-scroll">
                    <thead>
                        <tr>
                            <th class="py-2 px-4 border-b border-gray-600">Ticket ID</th>
                            <th class="py-2 px-4 border-b border-gray-600">Name</th>
                            <th class="py-2 px-4 border-b border-gray-600 tmail">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ticket in event.tickets().values() %}
                        <tr id="ticket-{{ticket.token}}" oncontextmenu="delete_ticket(this)" onclick='preview("{{ticket.token}}")'>
                            <td class="py-2 px-4 border-b border-gray-600">{{'✅' if ticket.valid else '❌'}} {{ticket.token}}</td>
                            <td class="py-2 px-4 border-b border-gray-600">{{ticket.name}}</td>
                            <td class="py-2 px-4 border-b border-gray-600 tmail">{{ticket.email}}</td>
                        </tr>
                        {% endfor %}
                        <!-- Add more rows as needed -->
                    </tbody>
                </table>
            </section>
        </main>
    </div>
    <script>
        document.getElementById('date_btn').addEventListener('click', function() {
            var date = document.querySelector('#event-date').value;
            fetch(`/api/update_date?date=${date}`)
                .then(function(response) {
                if (response.ok) {
                    alert('Event date updated successfully');
                } else {
                    alert('Failed to update event date');
                }
            });
        });

        function preview(token){
            window.open(`/api/ticket/preview/${token}`, '_blank');
        }

        function delete_ticket(data){
            let token = data.id.split('-')[1];
            let confirm = window.confirm('Are you sure you want to delete this ticket?');
            if (!confirm) return;
            fetch(`/api/delete_ticket/${token}`)
                .then(function(response) {
                if (response.ok) {
                    data.remove();
                    alert('Ticket deleted successfully');
                    window.location.reload();
                } else {
                    alert('Failed to delete ticket');
                }
            });
        }

    </script>
{% endblock %}