<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/test.css">
</head>
<body class="flex items-center justify-center ">
    <div class="ticket border relative bg-white flex">
        <div class="left flex flex-row">
            <p class="lan font-bold">
                <span>MASTER</span>
                <span class="color-red">OF</span>
                <span>DESTRUCTION</span>
            </p>
            <div class="ticket-img">
                <p class="absolute bottom-0 text-white right-2 font-bold">#{{ token }}</p>
            </div> <!--Ticket Img-->

            <div class="ticket-info p-2">
                <p class="date">
                    <span>TUESDAY</span>
                    <span>OCT 23</span>
                    <span>2024</span>
                </p>
                <div class="event">
                    <h1 class="title">MASTER OF DESTRUCTION</h1>
                    <h2 class="prize">1,00,000 PRIZE POOL</h2>
                </div>
                <div class="event-time font-bold">
                    <p>12:00 PM <span class="text-gray-500">TO</span> 6:00PM</p>
                    <p>DOORS <span class="text-gray-500">@</span> 11:00 AM</p>
                </div>
                <div class="location">
                    <p>
                        <span>TOWNSHIP HALL</span>
                        <i class='bx bx-trophy'></i>
                        <span>COLLEGE ROAD, BHADRAK</span>
                    </p>
                </div>

            </div> <!--Ticket Info-->
        </div> <!--Left Part Ends-->
        <div class="right-info w-full">
            <div></div>
            <p class="org">
                <!-- <span>BLACKDIAMON ESPORTS</span> -->
                <span>LAN EVENT</span>
                <span>LAN EVENT</span>
                <span>LAN EVENT</span>
            </p>
            <div class="content ">
                <div class="right-title mb-4 font-bold">
                    <p>MASTER OF DESTRUCTION</p>
                </div>
                <div class="event-time font-bold">
                    <p>12:00 PM <span class="text-gray-500">TO</span> 6:00PM</p>
                    <p>DOORS <span class="text-gray-500">@</span> 11:00 AM</p> 
                </div>
                <img id="qr" src="" alt="" class="qr-code"> <!--https://t.ly/qWOWK-->
                <div class="ticket-code">
                    <p class="text-gray-600 my-4">#{{token}}</p>
                </div>
            </div>
        </div>
    </div>
    <button id="print" class="absolute bottom-0 bg-gray-100 rounded-full px-4">Print</button>
    <script>
        document.getElementById('qr').src = `https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=${window.location.href}`;
        document.querySelector('#print').addEventListener('click', function(e){
            this.style.display = 'none';
            window.print();
        });
    </script>
</body>
</html>