<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        @media screen and (max-width: 640px) {

            .tmail {
                display: none;
            }
        }
    </style>
</head>
<body class="bg-gray-900 text-white">
    <div class="container mx-auto p-4">
        <header class="flex justify-between items-center py-4">
            <h1 class="text-3xl font-bold">Dashboard</h1>
            <div class="text-right">
                <p class="text-lg"><span class="font-semibold">{{admin.username}}</span></p>
                <p class="text-sm">{{admin.email}}</p>
            </div>
        </header>

        <main class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <section class="bg-gray-800 p-4 rounded-lg shadow-md">
                <h2 class="text-xl font-semibold mb-2">Tickets Sold</h2>
                <p class="text-4xl font-bold">{{event.tickSold}}</p>
            </section>

            <section class="bg-gray-800 p-4 rounded-lg shadow-md">
                <h2 class="text-xl font-semibold mb-2">Event Date</h2>
                <p class="text-lg" contenteditable="" >{{event.date}}</p>
                <button class="mt-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Update Event Date</button>
            </section>

            <section class="bg-gray-800 p-4 rounded-lg shadow-md col-span-1 md:col-span-2 lg:col-span-3">
                <h2 class="text-xl font-semibold mb-2">Tickets and Holders</h2>
                <table class="min-w-full bg-gray-700 rounded-lg overflow-x-scroll">
                    <thead>
                        <tr>
                            <th class="py-2 px-4 border-b border-gray-600">Ticket ID</th>
                            <th class="py-2 px-4 border-b border-gray-600">Holder Name</th>
                            <th class="py-2 px-4 border-b border-gray-600 tmail">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ticket in event.tickets %}
                        <tr>
                            <td class="py-2 px-4 border-b border-gray-600">{{ticket.token}}</td>
                            <td class="py-2 px-4 border-b border-gray-600">{{ticket.name}}</td>
                            <td class="py-2 px-4 border-b border-gray-600 tmail">{{ticket.email}}</td>
                        </tr>
                        {% endfor %}
                        <!-- Add more rows as needed -->
                    </tbody>
                </table>
            </section>
        </main>
    </div>
</body>
</html>